.main {
  position: center;
  left: 21%;
  margin: 1.5rem auto;
  width: 75%;
  max-width: 40rem;
}

.pagecontainer{
  position: relative;
  min-height: 100vh;
  
}

.contentwrapper{
  padding-bottom: 2.5rem;
}

.layout__section{
  background-color: white;
  max-width: 700px;
  margin: auto;
}